{% set assetPath = _target.context.env == 'production' ? '/bc-grid' : path %}
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ _target.label }} | Styleguide</title>
		<!-- Styleguide -->
		<link media="all" rel="stylesheet" href="{{ assetPath ~ '/css/grid.css' }}">
		<!-- Fractal Only -->
		<link media="all" rel="stylesheet" href="{{ assetPath ~ '/css/fractal-preview.css' }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap" rel="stylesheet">
	</head>
	<body>
		{{ yield }}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="{{ assetPath ~ '/js/app.js' }}"></script>
		<script src="{{ assetPath ~ '/js/fractal-preview.js' }}"></script>
	</body>
</html>
